:root {
	--major-width: 831px;/*95vw;*/
	--major-height: 831px;/*65.19607845vw;*/
	--canvas-dim: 64.730392155vw;
}

.parent_div {
	width: var(--major-width);
	height: var(--major-height);
	max-width: 138.428571415vh;
	max-height: 95vh;
	position: static;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*border-style: solid;
	border-color: #cacaca;
	border-width: 2px;*/
}

.child_div1 {
	width: var(--major-height);
	height: var(--major-height);
	max-width: 95vh;
	max-height: 95vh;
	/*float: left;*/
}

.canvas_container {
	width: 831px; /*var(--canvas-dim);*/
	height: 831px; /*var(--canvas-dim);*/
	max-width: 94.321428542vh;
	max-height: 94.321428542vh;
	/*border-style: solid;
	border-color: #cacaca;
	border-width: 2px;*/
}

.swal2-text {
	font-family: 'Open sans', sans-serif; color: #777777; font-size: 14px;
}

.swal2-popup {
    font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
}

.network_menu {
	/*height: 100px;
	margin: 0;
	padding: 0;
	overflow: hidden;*/
}

.network_menu_item {
	display: inline;
	color: white;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
	border-width: 1px;
	border-color: black;
	border-radius: 30px;
}

/* Change the link color to #111 (black) on hover */
.network_menu_item:hover {
	cursor: pointer;
}