{{ $artist := .Get artist}}

<table>
  <tr>
    <th>Most similar artists</th>
    <th>Similarity score</th>
  </tr>
  <tr>
    <td>Number of nodes</td>
    <td id="artist0">0</td>
  </tr>
  <tr>
    <td>Number of links</td>
    <td id="artist1">0</td>
  </tr>
  <tr>
    <td>Denisty</td>
    <td id="artist2">0</td>
  </tr>
  <tr>
    <td>Average clustering</td>
    <td id="artist3">0</td>
  </tr>
  <tr>
    <td>Average degree</td>
    <td id="artist4">0</td>
  </tr>
</table>

<script>
  d3.json("")
</script>