<table>
  <tr>
    <th>Summary statistics</th>
  </tr>
  <tr>
    <td>Number of nodes</td>
    <td id="Number of nodes">0</td>
  </tr>
  <tr>
    <td>Number of links</td>
    <td id="Number of links">0</td>
  </tr>
  <tr>
    <td>Denisty</td>
    <td id="Denisty">0</td>
  </tr>
  <tr>
    <td>Average clustering</td>
    <td id="Average clustering">0</td>
  </tr>
  <tr>
    <td>Average degree</td>
    <td id="Average degree">0</td>
  </tr>
  <tr>
    <td>Max degree</td>
    <td id="Max degree">0</td>
  </tr>
</table>