<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- Stuff -->

<ul class="network_menu">
	<li class="network_menu_item" style="background-color:black" onclick="change_genre('../networks/all/')"><p>all</p></li>
	<li class="network_menu_item" style="background-color:#E74C3C" onclick="change_genre('../networks/all/')"><p>pop</p></li>
	<li class="network_menu_item" style="background-color:#3498DB" onclick="change_genre('../networks/rap/')"><p>rap</p></li>
	<li class="network_menu_item" style="background-color:#9B59B6" onclick="change_genre('../networks/all/')"><p>rock</p></li>
	<li class="network_menu_item" style="background-color:#1ABC9C" onclick="change_genre('../networks/all/')"><p>r&b</p></li>
	<li class="network_menu_item" style="background-color:#27AE60" onclick="change_genre('../networks/all/')"><p>country</p></li>
	<li class="network_menu_item" style="background-color:#F4D03F" onclick="change_genre('../networks/soul/')"><p>soul</p></li>
	<li class="network_menu_item" style="background-color:#B9EDE0" onclick="change_genre('../networks/all/')"><p>ballad</p></li>
	<li class="network_menu_item" style="background-color:#4F8F23" onclick="change_genre('../networks/all/')"><p>hip-hop</p></li>
	<li class="network_menu_item" style="background-color:#E7E9B9" onclick="change_genre('../networks/all/')"><p>trap</p></li>
	<li class="network_menu_item" style="background-color:#E67E22" onclick="change_genre('../networks/all/')"><p>singer-songwriter</p></li>
	<li class="network_menu_item" style="background-color:#23628F" onclick="change_genre('../networks/all/')"><p>funk</p></li>
</ul>

<ul class="network_menu">
	<li class="network_menu_item" style="background-color: darkgray" onclick="change_type('withsingles/genre/')"><p>Genre all</p></li>
	<li class="network_menu_item" style="background-color: darkgray" onclick="change_type('withoutsingles/genre/')"><p>Genre wo. <5</p></li>
	<li class="network_menu_item" style="background-color: darkgray" onclick="change_type('withsingles/louvain/')"><p>Louvain all</p></li>
	<li class="network_menu_item" style="background-color: darkgray" onclick="change_type('withoutsingles/louvain/')"><p>Louvain wo. <5</p></li>
</ul>

<div class="parent_div">
	<div class="child_div1">
		<div class="canvas_container">
			<canvas id="canvas"></canvas>
		</div>
	</div>
</div>
<script src="/js/libs/d3.v4.min.js"></script>
<script src="/js/libs/dat.gui.js"></script>
<script src="/js/libs/sweetalert2.all.min.js"></script>
<script src="/js/libs/lodash.js"></script>
<script src="/js/parse_options.js"></script>
<script src="/js/vis.js"></script>