<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- Stuff -->

<div class="network_menu">
	<p class="network_menu_item" style="background-color:black" onclick="network_load('../networks/full/')">full</p>
	<p class="network_menu_item" style="background-color:#E74C3C" onclick="network_load('../networks/country/')">pop</p>
	<p class="network_menu_item" style="background-color:#3498DB" onclick="network_load('../networks/full/')">rap</p>
	<p class="network_menu_item" style="background-color:#9B59B6" onclick="network_load('../networks/full/')">rock</p>
	<p class="network_menu_item" style="background-color:#1ABC9C" onclick="network_load('../networks/full/')">r&b</p>
	<p class="network_menu_item" style="background-color:#27AE60" onclick="network_load('../networks/full/')">country</p>
	<p class="network_menu_item" style="background-color:#F4D03F" onclick="network_load('../networks/full/')">soul</p>
	<p class="network_menu_item" style="background-color:#B9EDE0" onclick="network_load('../networks/full/')">ballad</p>
	<p class="network_menu_item" style="background-color:#4F8F23" onclick="network_load('../networks/full/')">hip-hop</p>
	<p class="network_menu_item" style="background-color:#E7E9B9" onclick="network_load('../networks/full/')">trap</p>
	<p class="network_menu_item" style="background-color:#E67E22" onclick="network_load('../networks/full/')">singer-songwriter</p>
	<p class="network_menu_item" style="background-color:#23628F" onclick="network_load('../networks/full/')">funk</p>
</div>

<div class="parent_div">
	<div class="child_div1">
		<div class="canvas_container">
			<canvas id="canvas"></canvas>
		</div>
	</div>
</div>
<script src="/js/libs/d3.v4.min.js"></script>
<script src="/js/libs/dat.gui.js"></script>
<script src="/js/libs/sweetalert2.all.min.js"></script>
<script src="/js/libs/lodash.js"></script>
<script src="/js/parse_options.js"></script>
<script src="/js/vis.js"></script>