<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- Stuff -->

<ul class="network_menu">
	<li class="network_menu_item" style="background-color:black" onclick="change_genre('../networks/all/', 'All')"><p>All</p></li>
	<li class="network_menu_item" style="background-color:#E74C3C" onclick="change_genre('../networks/pop/', 'Pop')"><p>Pop</p></li>
	<li class="network_menu_item" style="background-color:#3498DB" onclick="change_genre('../networks/rap/', 'Rap')"><p>Rap</p></li>
	<li class="network_menu_item" style="background-color:#8E44AD" onclick="change_genre('../networks/rock/', 'Rock')"><p>Rock</p></li>
	<li class="network_menu_item" style="background-color:#2ECC71" onclick="change_genre('../networks/r&b/', 'R&B')"><p>R&B</p></li>
	<li class="network_menu_item" style="background-color:#F39C12" onclick="change_genre('../networks/country/', 'Country')"><p>Country</p></li>
	<li class="network_menu_item" style="background-color:#F1C40F" onclick="change_genre('../networks/soul/', 'Soul')"><p>Soul</p></li>
	<li class="network_menu_item" style="background-color:#5D6D7E" onclick="change_genre('../networks/ballad/', 'Ballad')"><p>Ballad</p></li>
	<li class="network_menu_item" style="background-color:#AED6F1" onclick="change_genre('../networks/hip-hop/', 'Hip-hop')"><p>Hip-hop</p></li>
	<li class="network_menu_item" style="background-color:#F5B7B1" onclick="change_genre('../networks/trap/', 'Trap')"><p>Trap</p></li>
	<li class="network_menu_item" style="background-color:#FCF3CF" onclick="change_genre('../networks/singer-songwriter/', 'Singer-songwriter')"><p>Singer-songwriter</p></li>
	<li class="network_menu_item" style="background-color:#DCB9ED" onclick="change_genre('../networks/funk/', 'Funk')"><p>Funk</p></li>
</ul>

<ul class="network_menu">
	<li class="network_menu_item" style="background-color: darkgray" onclick="change_type('withsingles/genre/', 'genre', 'with all')"><p>Genre all</p></li>
	<li class="network_menu_item" style="background-color: darkgray" onclick="change_type('withoutsingles/genre/', 'genre', 'without small')"><p>Genre w/o small singletons</p></li>
	<li class="network_menu_item" style="background-color: darkgray" onclick="change_type('withsingles/louvain/', 'Louvain', 'with all')"><p>Louvain all</p></li>
	<li class="network_menu_item" style="background-color: darkgray" onclick="change_type('withoutsingles/louvain/', 'Louvain', 'without small')"><p>Louvain w/o small singletons</p></li>
</ul>

<h1 id="network_title">All colored by genre with all singletons</h1>

<div class="parent_div">
	<div class="child_div1">
		<div class="canvas_container">
			<canvas id="canvas"></canvas>
		</div>
	</div>
</div>

<div class="row">
  <div class="column">
    <table>
      <tr>
        <th>Summary statistics</th>
        <th></th>
      </tr>
      <tr>
        <td>Number of nodes</td>
        <td id="Number of nodes">0</td>
      </tr>
      <tr>
        <td>Number of links</td>
        <td id="Number of links">0</td>
      </tr>
      <tr>
        <td>Denisty</td>
        <td id="Denisty">0</td>
      </tr>
      <tr>
        <td>Average clustering</td>
        <td id="Average clustering">0</td>
      </tr>
      <tr>
        <td>Average degree</td>
        <td id="Average degree">0</td>
      </tr>
      <tr>
        <td>Max degree</td>
        <td id="Max degree">0</td>
      </tr>
    </table>
  </div>
  <div class="column">
    <table>
      <tr>
        <th>Betweenness centrality</th>
        <th></th>
      </tr>
      <tr class="Betweenness centrality">
        <td>first</td>
        <td>0</td>
      </tr>
      <tr class="Betweenness centrality">
        <td>second</td>
        <td>0</td>
      </tr>
      <tr class="Betweenness centrality">
        <td>third</td>
        <td>0</td>
      </tr>
      <tr class="Betweenness centrality">
        <td>fourth</td>
        <td>0</td>
      </tr>
      <tr class="Betweenness centrality">
        <td>fifth</td>
        <td>0</td>
      </tr>
      <tr class="Betweenness centrality">
        <td>sixth</td>
        <td>0</td>
      <tr class="Betweenness centrality">
        <td>third</td>
        <td>0</td>
      </tr>
      <tr class="Betweenness centrality">
        <td>fourth</td>
        <td>0</td>
      </tr>
      <tr class="Betweenness centrality">
        <td>fifth</td>
        <td>0</td>
      </tr>
      <tr class="Betweenness centrality">
        <td>sixth</td>
        <td>0</td>
      </tr>
      </tr>
    </table>
  </div>
</div>

<script src="/js/libs/d3.v4.min.js"></script>
<script src="/js/libs/dat.gui.js"></script>
<script src="/js/libs/sweetalert2.all.min.js"></script>
<script src="/js/libs/lodash.js"></script>
<script src="/js/parse_options.js"></script>
<script src="/js/vis.js"></script>